@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flexSort($justifyContent, $alignItems) {
  display: flex;
  align-items: $alignItems;
  justify-content: $justifyContent;
}

@mixin cartText {
  font-size: 20px;
  font-weight: 600;
}
