@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexSort($justifyContent, $alignItems) {
  display: flex;
  justify-content: $justifyContent;
  align-items: $alignItems;
}
