$red: #ea4335;
$blue: #4285f4;
$yellow: #fbbc05;
$green: #34a853;
$orange: #f16e25;
$light-pink: #e9d2d0;
$sky-blue: #9cc4fc;
$emerald-blue: #8eb5fc;

$small: 12px;
$middle: 16px;
$large: 24px;
$xlarge: 36px;
$xxlarge: 40px;
