@import '/src/styles/mixin.scss';
@import '/src/styles/variables.scss';

.footer {
  @include flexCenter;
  background-color: #1c1c1c;

  .container {
    width: 1050px;
    min-width: 1050px;
    padding-top: 80px;
    padding-bottom: 100px;

    .top {
      ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

        .footerTopItem {
          text-decoration: none;

          &:focus,
          &:hover,
          &:visited,
          &:link,
          &:active {
            cursor: pointer;
            color: black;
            text-decoration: none;
          }

          li {
            color: #8a8a8a;
          }
        }
      }
    }

    hr {
      margin: 24px 0;
      border-top: 1px solid #8a8a8a;
      border-right: none;
      border-bottom: none;
      border-left: none;
    }

    .middle {
      font-size: 15px;

      .companyInfo {
        float: left;
        width: 60%;

        pre {
          color: #8a8a8a;
          line-height: 18px;
          font-size: 14px;
        }

        .footerBottom {
          margin-top: 60px;
          color: #8a8a8a;

          .footerBottomItem {
            padding-right: 20px;
            font-size: $small;
            text-decoration: none;

            &:focus,
            &:hover,
            &:visited,
            &:link,
            &:active {
              cursor: pointer;
              text-decoration: none;
            }

            li {
              color: #8a8a8a;
            }
          }
        }
      }

      .consult {
        float: left;
        width: 40%;

        .kakaoTalkImg {
          width: $xxlarge;
        }

        .kakaoTalkChannel {
          margin: 20px 0px;
          font-weight: 600;
          color: white;
        }

        .cs {
          display: flex;
          color: #8a8a8a;
          font-size: $small;

          span {
            display: block;
            padding: 10px 10px 0 0;
          }
        }

        .copyright {
          margin-top: 50px;
          color: #8a8a8a;
        }
      }
    }
  }
}
