@import '../../styles/mixin';
@import '../../styles/variables';

.cartContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  .titleArea {
    width: 1018px;
    height: 165px;
    border-bottom: 2px solid black;

    p {
      display: block;
      font-size: 32px;
      font-weight: 600;
      line-height: 80px;
      text-align: center;
    }
  }
  .cartlistContainer {
    .cartChoose {
      display: flex;
      align-items: center;
      width: 660px;
      height: 28px;
      padding: 35px 0;
      border-bottom: 2px solid black;
      input {
        width: 30px;
        height: 30px;
        margin-right: 30px;
        accent-color: black;
      }

      .cartChooseAllCheckText {
        margin-right: 30px;
        @include cartText;
      }

      .cartBar {
        margin-right: 30px;
        color: $gray;
        font-size: 20px;
      }

      .deliteButton {
        height: 30px;
        border: none;
        background-color: white;
        @include cartText;

        &:hover {
          cursor: pointer;
        }
      }

      button {
      }
    }
    .cartDelivery {
      width: 660px;
      padding: 20px 0;
      border-bottom: 2px solid black;
      span {
        @include cartText;
      }
    }
    .cartProduct {
      display: flex;
      flex-direction: column;
      width: 660px;

      .inCartProducts {
        display: flex;
        align-items: center;
        padding: 20px 0;
        border-bottom: 2px solid #f4f4f4;

        input {
          width: 20px;
          height: 20px;
          accent-color: black;
        }
        img {
          width: 86px;
          height: 86px;
          margin: 0 20px;
        }
        .inCartProductName {
          display: flex;
          flex-direction: column;
          width: 200px;

          .productInfo {
            margin-top: 8px;
            color: $gray;
          }
        }
      }
    }
    .cartTotalPrice {
      width: 660px;
      height: 65px;
      background-color: #f0f0f0;

      .cartTotalPriceText {
        padding: 24px 45px 0 0;
        text-align: right;
      }
    }
  }
}
