@import '/src/styles/mixin.scss';
@import '/src/styles/variables.scss';

.productList {
  margin: 0 10%;
  padding: 60px 16px;
  border-bottom: 1px solid #e7e7e3;

  .productListWrapper {
    margin: 0 auto;
    .products {
      display: flex;
      flex-wrap: wrap;
    }
  }
}
